<%-include("partials/header")%>
<div class="container">
    <h1 class="">About Us</h1>
    <p>
    I am Garab Dorji, majoring computer sciece at University of Texas at El Paso.
    </p>
    <p>This is a small project that I have created using bootstrap.
    This porject protrays my skills on node, epress and ejs; as it mainly focuses on  backend.</p>
</div>

<%-include("partials/footer") %>