<%- include("partials/header.ejs") %>


<form class="container pt-5" action="/submit" method="POST">
  <div class="mb-3">

      <label for="vlog-name" class="form-label">Name your vlog</label>

      <input type="text" name="vlog-name" id="vlog-name" class="form-control">
  </div>
  <div class="mb-3">

      <label for="vlog-content" class="form-label">Write here</label>

      <textarea name="vlog-content" id="vlog-content" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer.ejs") %>